<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="jFrame" class="javax.swing.JFrame" p:title="my title"
		p:visible="true" p:size-ref="dimension"></bean>
	<bean id="dimension" class="java.awt.Dimension">
		<constructor-arg value="500"></constructor-arg>
		<constructor-arg value="300"></constructor-arg>
	</bean>
	<bean id="user" class="com.flyingh.vo.User" p:name="flyingh"
		p:birthday="2012/11/24">
		<property name="list">
			<list>
				<value>a</value>
				<value>b</value>
				<value>c</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</set>
		</property>
		<property name="map">
			<map>
				<entry key="a" value="1"></entry>
				<entry key="b" value="2"></entry>
				<entry key="c" value="3"></entry>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="d">4</prop>
				<prop key="e">5</prop>
				<prop key="f">6</prop>
			</props>
		</property>
		<property name="strs">
			<list>
				<value>haha</value>
				<value>hehe</value>
				<value>xixi</value>
			</list>
		</property>
	</bean>
	<!-- <bean id="apple" class="com.flyingh.vo.Apple"></bean> -->
	<!-- <bean id="apple" class="com.flyingh.factory.AppleFactory" -->
	<!-- factory-method="newInstance"></bean> -->
	<!-- <bean id="factory" class="com.flyingh.factory.AppleFactory"></bean> -->
	<!-- <bean id="apple" factory-bean="factory" factory-method="getInstance"></bean> -->
	<bean id="apple" class="com.flyingh.factory.AppleFactory"
		factory-method="getApple">
		<constructor-arg value="xiangjiaApple"></constructor-arg>
		<constructor-arg value="100"></constructor-arg>
	</bean>
	<bean id="factoryBean" class="com.flyingh.bean.UserFactoryBean"></bean>
	<bean id="stringFactoryBean" class="com.flyingh.bean.StringFactoryBean"></bean>
	<bean id="integerFactoryBean" class="com.flyingh.bean.IntegerFactoryBean"></bean>
	<bean id="fieldFactoryBean" class="com.flyingh.bean.FieldFactoryBean"
		p:fieldName="out" p:className="java.lang.System"></bean>
	<bean id="ffb" class="com.flyingh.bean.FieldFactoryBean"
		p:fieldName="str" p:className="com.flyingh.vo.User"></bean>
	<bean id="myBean" class="com.flyingh.bean.MyBean"></bean>
	<bean id="orange" class="com.flyingh.vo.Orange" init-method="init"
		destroy-method="close" p:name="orange's name"></bean>
	<bean id="car" class="com.flyingh.vo.Car" p:name="BMW" scope="prototype"></bean>
	<bean id="driver" class="com.flyingh.vo.Driver" p:name="Jim"></bean>
	<bean id="boy" class="com.flyingh.vo.Boy">
		<lookup-method name="newDog" bean="dog" />
	</bean>
	<bean id="dog" class="com.flyingh.vo.Dog" scope="prototype"></bean>
</beans>
