<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	<bean id="orange" class="com.flyingh.vo.Orange" init-method="init"
		destroy-method="close" p:name="orange's name"></bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="jdbc.properties"></property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:username="root" p:password="passwd" p:driverClassName="com.mysql.jdbc.Driver"
		p:url="jdbc:mysql://localhost:3306/spring" p:initialSize="3"
		p:minIdle="1" p:maxActive="500" p:maxIdle="10"></bean>
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		p:username="${username}" p:password="${password}" p:driverClassName="${driverClassName}"
		p:url="${url}" p:initialSize="${initialSize}" p:minIdle="${minIdle}"
		p:maxActive="${maxActive}" p:maxIdle="${maxIdle}"></bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyOverrideConfigurer"
		p:location="jdbc2.properties"></bean>
	<bean id="ds2" class="org.apache.commons.dbcp.BasicDataSource"></bean>
	<context:component-scan base-package="com.flyingh.*"></context:component-scan>

</beans>
